{% extends "base.html" %}
{% block start %}

<div class="container">
<div class="row  mt-5 pt-5">
  {% for  restraunt in restraunts %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="/media/{{restraunt.restraunt_image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{restraunt.restraunt_name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-primary">Order Now</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}